.header{
    &__wrapper{
        height: 40px;
        display: flex;
        align-items: center;
        padding: 10px 20px;
        margin-top: -15px;
        font-size: 25px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        justify-content: space-between;
        border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
        button{
            color: #fff;
            padding: 5px 0;
            width: 110px;
            margin-right: 10px;
            cursor: pointer;
            font-family: "Poppins";
            background: none;
            backdrop-filter: none;
            transition: .1s all;
        }
        button:hover {
            background: rgba(255, 255, 255, 0.411);
            
        }
    }
}


@media (max-width: 400px) {
	.header{
		&__wrapper{
			border-radius: 0;
		}
	}
}